.nombre{
    
    font-family:francisco;
    src: url(../../assets/FranciscoDemo.ttf);
    font-size:400%;
}
.cargo{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-top: -20px;
}
.texto{
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}
.imagen{
    width: 30%;
}
