<div class="header">
    <img src="../../assets/APLogo-20-20.png" alt="Logo Argentina Programa" class="logo" width="150px" height="150px">

    <a href="https://github.com/TereTorres"><img src="../../assets/github.png" alt="Logo Github" class="social"></a>
    <a href="https://www.instagram.com/teretorres_76/"><img src="../../assets/instagram.png" alt="Logo Instagram" class="social"></a>
    <a href="https://www.linkedin.com/in/mar%C3%ADa-teresa-torres-7b9bb9207/"><img src="../../assets/in.png" alt="Logo LinkedIn" class="social"></a>
</div>
<div>
    <img src="../../assets/240_F_322315214_MJ5mAznvvTpXBeXBLh3bVwxC1bB4RbNd.jpg" alt="Banner" class="banner">
</div>
